* {
  text-align: center;
  font-family: "Lato";
}

p {
  font-size: 1.2em;
}

a { 
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

header {
  position: fixed;
  display: block;
  width: 100%;
  transition: all 0.4s ease;
  background-color: #fff;
  z-index: 9000000;
}

.sticky {
  position:fixed;
  transition: all 0.4s ease;
  margin-top: -125px;
}

.container {
  padding-top: 13em;
}

.full-logo {
  display: block;
  width: 20%;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 0.5em;
  transition: all 0.4s ease;
}

.hidden {
  opacity: 0;
  transition: all 0.4s ease;
}

.line-logo {
  height: 20px;
}

.line-logo:hover {
  background-color: #ffffff;
}

nav {
  display: block;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #a8a8a8;
  transition: all 0.4s ease;
  background-color: #fff;
  box-shadow: 0 5px 5px -5px #a8a8a8;
}

nav div {
  display: inline-block;
  width: 10%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 1.2em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.hide {
  visibility: none;
}

nav div:hover {
  background-color: #e0e0e0;
}

.small-nav {
  border-radius: 0;
}

h1 {
  font-weight: 700;
}

h4 {
  text-align: center;
  font-weight: 700;
  padding: 20px;
}

.section-header {
  display: block;
  text-align: center;
  margin: auto;
  width: 50%;
  border-bottom: 1px solid #a8a8a8;
  margin-top: 50px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.centered-content {
  display: block;
  width: 80%;
  max-width: 650px;
  margin: auto;
  margin-bottom: 60px;
  padding: 20px;
}

.photo {
  display: block;
  width: 200px;
  border-radius: 100%;
  margin: auto;
}

.who-we-are-divider {
  height: 50px;
}

.advisor-row {
  padding: 10px;
}

.advisor-side-col {
  display: inline-block;
  width: 30%;
  height: 100%;
  padding-top: 30px;
}

.advisor-side-col h4 {
  margin: 0;
}

.advisor-main-col {
  display: inline-block;
  width: 65%;
  height: 100%;
  vertical-align: top;
  padding-top: 54px;
}

.advisor-text {
  padding-left: 10px;
  text-align: left;
}

.team-logo {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 400px;
  padding: 10px;
}

.tier-one {
  max-width: 350px;
}

.contact-social-tagline {
  padding: 10px;
}

.contact-cols-section {
  display: block;
  text-align: center;
  margin: auto;
  width: 100%;
  padding: 20px 0 50px;
}

.contact-col {
  display: inline-block;
  width: 45%;
}

.contact-col h4 {
  padding: 5px;
}

.contact-icon {
  width: 100px;
}

.contact-button {
  width: 75%;
  min-width: 140px;
  margin: auto;
  background-color: #4DBD33;
  color: white;
  border: 1px solid #000000;
  border-radius: 15px;
  box-shadow: 8px 8px 8px #a8a8a8;
}

.social-icons {
  display: block;
  width: 100%;
}

.social-icon {
  display: inline-block;
  border-radius: 10px;
  margin: 20px;
  width: 10%;
  min-width: 50px;
  max-width: 80px;
  margin-bottom: 100px;
  border: 1px solid #000000;
  box-shadow: 8px 8px 8px #a8a8a8;
}

.copyright {
  font-size: 0.8em;
}

.anchor {
  padding-top: 50px;
  visibility: hidden;
}

/********************************************************************
*/

@media (min-width: 500px) {

.contact-icon {
  width: 50%;
  max-width: 180px;
}


}


/********************************************************************
*/

@media (min-width: 700px) {

.contact-cols-section {
  width: 80%;
}


}


/********************************************************************
*/

@media (min-width: 1100px) {

nav {
  display: block;
  width: 98%;
  margin: auto;
  text-align: center;
  border-bottom: 1px solid #a8a8a8;
}

nav div {
  display: inline-block;
  width: 10%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 1.2em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

nav div:hover {
  background-color: #e0e0e0;
}

.sticky {
  position:fixed;
  transition: all 0.4s ease;
  margin-top: -125px;
}

.container {
  padding-top: 13em;
}

.full-logo {
  display: block;
  width: 20%;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 0.5em;
  transition: all 0.4s ease;
}

.hidden {
  opacity: 0;
  transition: all 0.4s ease;
}

.line-logo {
  height: 20px;
}

.line-logo:hover {
  background-color: #ffffff;
}

nav {
  display: block;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #a8a8a8;
  transition: all 0.4s ease;
  background-color: #fff;
  box-shadow: 0 5px 5px -5px #a8a8a8;
}

nav div {
  display: inline-block;
  width: 10%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 1.2em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.hide {
  visibility: none;
}

nav div:hover {
  background-color: #e0e0e0;
}

.small-nav {
  border-radius: 0;
}
